body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem; 
    line-height: 1.5;
}
nav#navbar{
    position: fixed;
    height: 100%;
    width: 290px;
    top: 0;
    left: 0;
    border-right: 4px solid #dcdcdc;
}
    #navbar header{
        font-size: 2rem;
        padding-left: 0.85rem;
        padding-right: 0.85rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        overflow: auto;
        margin-bottom: 1rem;

        border-bottom: 1px solid #eee;
    }
    #navbar img{
        display: inline-block;
        float: left;
        width: 18%;
    }
    #navbar span{
        display: inline-block;
        float: right;
        margin-right: 5rem;
    }
    #navbar ul{
        padding-left: 0;
        font-size: 1.4rem;
        list-style-type: none; 
    }
    #navbar li{
        padding: 0.5rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        margin-bottom: 0.7rem;
    }
    #navbar li:hover{
        font-weight: 700;
        padding-left: 1.8rem;
        border-left: 4px solid green;
    }
    a.nav-link{
        text-decoration: none;
        color: #000;
    }

main#main-doc{
    margin-left: 300px; 
    position: absolute;
    top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
    header.topic{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.9rem;
        font-weight: 600;
    }
section.main-section{

}
    .main-section pre{
        position: relative;
    }
    .main-section code{
        font-size: 0.9rem;
        background-color: #f8f8f8;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    .main-section .block-code{
        display: block;
        background-color: #f8f8f8;
        padding: 1rem;
        font-size: 0.9rem;
    }
    .main-section li{
        list-style-type: disc;
        padding-bottom: 5px;
    }
.output{
    border: 1px solid #eee;
    border-radius: 4px;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    color: #304455;
}

@media screen and (max-width: 479px){
    nav#navbar{
        display: none;
    }
    main#main-doc{
        margin-left: 0;
        margin-top: 1rem;
    }
}
