body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem; 
    line-height: 1.5;
}
#navbar{
    position: fixed;
    height: 100%;
    width: 290px;
    top: 0;
    left: 0;
    border-right: 4px solid #dcdcdc;
}
    #navbar header{
        font-size: 2rem;
        padding-left: 0.85rem;
        padding-right: 0.85rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        overflow: auto;
        margin-bottom: 1rem;

        border-bottom: 1px solid #eee;
    }
    #navbar img{
        display: inline-block;
        float: left;
        width: 18%;
    }
    #navbar span{
        display: inline-block;
        float: right;
        margin-right: 5rem;
    }
    #navbar ul{
        padding-left: 0;
        font-size: 1.4rem;
        list-style-type: none; 
    }
    a.closebtn{
        display: none;
    }
    #navbar li{
        padding: 0.5rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        margin-bottom: 0.7rem;
    }
    #navbar li:hover{
        font-weight: 700;
        padding-left: 1.8rem;
        border-left: 4px solid green;
    }
    .nav-link{
        display: block;
        text-decoration: none;
        color: #000;
    }
main#main-doc{
    margin-left: 300px; 
    position: absolute;
    top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: margin-left .4s;

}
    header.topic{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.9rem;
        font-weight: 600;
    }
#ham-bar{
    display: none;
}
section.main-section{

}
    .main-section pre{
        position: relative;
    }
    .main-section code{
        font-size: 0.9rem;
        background-color: #f8f8f8;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    .main-section .block-code{
        display: block;
        background-color: #f8f8f8;
        padding: 1rem;
        font-size: 0.9rem;
    }
    .main-section li{
        list-style-type: disc;
        padding-bottom: 5px;
    }
.output{
    border: 1px solid #eee;
    border-radius: 4px;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    color: #304455;
}

@media screen and (max-width: 479px){
    nav#navbar{
        display: none;
    }
    #close-wrapper{
        text-align: right;
    }
    a.closebtn{
        display: inline-block;
        top: 0;
        font-size: 42px;
        font-weight: 500;
        
        text-decoration: none;
        color: black;
        margin-right: 1rem;
    }
    a.closebtn:hover{
        font-weight: 600;
    }
    main#main-doc{
        margin-left: 0;
    }
    #ham-bar{
        display: block;
        margin-left: 1rem;
        margin-top: 0.7rem;
    }
    nav#navbar{
        width: 0;
    }
    #navbar header{
        display: none;
    }
    #navbar li{
        font-size: 1.3rem;
        padding-left: 1.6rem;
    }
        #ham-bar span{
            font-size: 30px;
            cursor: pointer;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            padding-top: 0px;

            border: 1px solid #000;
            border-radius: 2px;
        }
    main#main-doc{
        margin-top: 3.5rem;
    }
}
